<a href="https://colab.research.google.com/github/Prabha11/pre-datastorm-v1-0/blob/master/homealone/homealone_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd

In [0]:
root_folder = '/content/drive/My Drive/Colab Notebooks/homealone2020'

In [0]:
train_raw_ds = pd.read_csv(root_folder + '/data/Train.csv')

In [6]:
train_raw_ds.head()

             STATE CONSTITUENCY  ...                LIABILITIES  TOTAL ELECTORS
0      Lakshadweep  LAKSHADWEEP  ...  Rs 28,87,460\n ~ 28 Lacs+           55189
1      Lakshadweep  LAKSHADWEEP  ...                   Rs 0\n ~           55189
2      Lakshadweep  LAKSHADWEEP  ...    Rs 4,45,771\n ~ 4 Lacs+           55189
3      Daman & Diu  DAMAN & DIU  ...  Rs 99,69,514\n ~ 99 Lacs+          121740
4  Jammu & Kashmir       LADAKH  ...                   Rs 0\n ~          179232

[5 rows x 13 columns]

In [7]:
train_raw_ds.describe()

            WINNER          AGE  TOTAL ELECTORS
count  1500.000000  1500.000000    1.500000e+03
mean      0.260667    52.314667    1.568015e+06
std       0.439145    11.797646    2.394260e+05
min       0.000000    25.000000    5.518900e+04
25%       0.000000    44.000000    1.487212e+06
50%       0.000000    52.000000    1.631817e+06
75%       1.000000    61.000000    1.716459e+06
max       1.000000    86.000000    1.823664e+06