<a href="https://colab.research.google.com/github/Prabha11/pre-datastorm-v1-0/blob/master/homealone/homealone_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd

In [0]:
root_folder = '/content/drive/My Drive/Colab Notebooks/homealone2020'

In [0]:
train_raw_ds = pd.read_csv(root_folder + '/data/Train.csv')

In [46]:
train_raw_ds.head()

             STATE CONSTITUENCY  ...                LIABILITIES  TOTAL ELECTORS
0      Lakshadweep  LAKSHADWEEP  ...  Rs 28,87,460\n ~ 28 Lacs+           55189
1      Lakshadweep  LAKSHADWEEP  ...                   Rs 0\n ~           55189
2      Lakshadweep  LAKSHADWEEP  ...    Rs 4,45,771\n ~ 4 Lacs+           55189
3      Daman & Diu  DAMAN & DIU  ...  Rs 99,69,514\n ~ 99 Lacs+          121740
4  Jammu & Kashmir       LADAKH  ...                   Rs 0\n ~          179232

[5 rows x 13 columns]

In [0]:
features_to_one_hot_encode = ['PARTY', 'STATE', 'CONSTITUENCY', 'GENDER', 'CATEGORY']

for feature in features_to_one_hot_encode:
  values = pd.Series(train_raw_ds[feature])
  dum = pd.get_dummies(values)
  train_raw_ds = train_raw_ds.merge(dum, left_index=True, right_index=True)

In [0]:
processed_train_ds = train_raw_ds
columns_to_drop = ['STATE', 'CONSTITUENCY', 'NAME', 'PARTY', 'GENDER', 'CRIMINAL\nCASES', 'AGE', 'CATEGORY', 'EDUCATION', 'ASSETS', 'LIABILITIES', 'TOTAL ELECTORS']

processed_train_ds = processed_train_ds.drop(columns=columns_to_drop)

In [49]:
%tensorflow_version 1.x

TensorFlow is already loaded. Please restart the runtime to change versions.

In [60]:
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
import numpy as np

df = processed_train_ds
properties = list(df.columns.values)
properties.remove('WINNER')
X = df[properties]
y = df['WINNER']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

model = keras.Sequential([
    keras.layers.Flatten(input_shape=(551,)),
    keras.layers.Dense(16, activation=tf.nn.relu),
	  keras.layers.Dense(16, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid),
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=5, batch_size=2)

test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

Epoch 1/5
525/525 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7352
Epoch 2/5
525/525 [==============================] - 1s 1ms/step - loss: 0.4125 - accuracy: 0.8248
Epoch 3/5
525/525 [==============================] - 1s 1ms/step - loss: 0.3363 - accuracy: 0.8495
Epoch 4/5
525/525 [==============================] - 1s 1ms/step - loss: 0.2789 - accuracy: 0.8781
Epoch 5/5
525/525 [==============================] - 1s 1ms/step - loss: 0.2239 - accuracy: 0.9105
15/15 [==============================] - 0s 1ms/step - loss: 0.5330 - accuracy: 0.7667
Test accuracy: 0.7666666507720947